

.btn-primary{
    padding: 10px 20px;
    color: var(--clr-primary);
    transition: transform 0.2s ease;
}
.btn-primary:hover{
    background-color: var(--clr-primary);
    color: var(--clr-primary-light);
    border-radius: 6px;
}
.btn-secondary{
    background-color: var(--clr-primary);
    padding: 10px 20px;
    border-radius: 6px;
    color: var(--clr-primary-light);
    transition: transform 0.2s ease;
  }
  .btn-secondary:hover{
    transform: scale(1.05);
  }