

.btn-primary{
    padding: 10px 20px;
    color: var(--clr-primary);
    transition: transform 0.2s ease;
}
.btn-primary:hover{
    background-color: var(--clr-primary);
    color: var(--clr-primary-light);
    border-radius: 6px;
}
.btn-secondary{
    background-color: var(--clr-primary);
    padding: 10px 20px;
    border-radius: 6px;
    color: var(--clr-primary-light);
    transition: transform 0.2s ease;
  }
  .btn-secondary:hover{
    transform: scale(1.05);
  }

  .btn-link{
    color: var(--clr-primary);    
    font-weight: var(--fw-bold);
    display: inline-flex;
    align-items: center;
    gap: var(--space-2);
  }
  .arraws-link{
  }
.icon-arraws{
  width: 20px;
  height: 18px;
}