

.hero-img{
    max-width: 391px;
    height: auto;
}
.hero-header h1{
    margin-bottom: 16px;
}
.hero-dot{
    display: flex;
    gap: var(--space-2);
    justify-content: center;
    padding-top: var(--space-6);
}
.dot-slider{
    width: 7.5px;
    height: 7.5px;
    border-radius: 50%;
    background-color: var(--clr-d-gray);
}
.dot-slider:hover{
    background-color: var(--clr-primary);
}