

.testi-img{
    max-width: 19rem;
    height: auto;
}
.testi-content{
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
}
.testi-logos{
    display: flex;
    justify-content: space-between;
    gap: var(--space-3);
}
.author h4{
    color: var(--clr-primary);
    margin-bottom: var(--space-2);
}