

.feature{
    text-align: center;
    padding: var(--space-5) 0;
    border-bottom: 2px solid var(--clr-primary-light);
}
.feature-icon{
    max-width: 3.5rem;
    height: auto;
    margin: 0 auto;
}