
.split{
    display: flex;
    padding: var(--space-5) 0;
}
.split-visual{
    flex: 50;
}
.split-content{
    flex: 50;
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
}
.btn-split{
    width: fit-content;
}