

.blog-header{
    grid-column: 1 / -1;
    text-align: center;
    align-content: center;
    max-width: 37.5rem;
    margin: 0 auto;
}
.blog-header h2{
    margin-bottom: var(--space-2);
}

.blog-list{
    display: flex;
    justify-content: space-between;
    gap:var(--space-3);
    padding-top: var(--space-3);
}
.blog-article{
    border: 1px solid black;
}
.blog-img{
    height: auto;
    border: 1px solid red;
}