
.features-header{
    margin: 0 auto;
    max-width: 35rem;
    text-align: center;
}
.feature-content{
    display: flex;
    justify-content: space-between;
    gap: var(--space-8);
}
.feature{
    max-width: 15rem;
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
}
.feature{
    text-align: center;
    padding: var(--space-5) 0;
    border-bottom: 2px solid var(--clr-primary-light);
}
.feature-icon{
    max-width: 3.5rem;
    height: auto;
    margin: 0 auto;
}