




.hero{
    padding: 96px 0 var( --space-3) 0;
}
.hero-content{
    display: flex;
    gap: var(--space-7);
    align-items: center;
}
.hero-article{
    flex: 6;
    display: flex;
    flex-direction: column;
    gap: var(--space-5);
    align-items: flex-start;
}
.hero-media{
    flex: 4;
}


.hero-img{
    max-width: 391px;
    height: auto;
}
.hero-header h1{
    margin-bottom: 16px;
}
.hero-dot{
    display: flex;
    gap: var(--space-2);
    justify-content: center;
    padding-top: var(--space-6);
}
.dot-slider{
    width: 7.5px;
    height: 7.5px;
    border-radius: 50%;
    background-color: var(--clr-d-gray);
}
.dot-slider:hover{
    background-color: var(--clr-primary);
}


/* MOBILE */
@media (max-width: 768px) {
    .hero-content{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        max-width: 500px;
        margin: 0 auto;
    }
    .hero-article{
        width: 100%;
        height: auto;
    }
    .hero-media{
        width: 100%;
        height: auto;
    }
    .hero-article{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}