


.hero{
    padding: 96px 0;
}
.hero-content{
    display: flex;
    gap: var(--space-7);
    align-items: center;
}
.hero-article{
    flex: 6;
    display: flex;
    flex-direction: column;
    gap: var(--space-5);
    align-items: flex-start;
}
.hero-media{
    flex: 4;
}